h2,h3,h4,h5,ul,body,html
  margin 0
  padding 0

body
  font-size 14px
  bacground-color #f5f6fa

.wrapper
  min-height 100vh
  overflow hidden
  .col1
    float left
    position relative
    z-index 999
    width 25%
    bacground red
  .col2
    float left 
    width 83%


.sidebar
  bacground-color #ffff
  min-height 100vh
  .section-top
    background-color #2caaff
    box-shadow 0 .5rem 1rem rgba(0, 0, 0, 0.15)
  .logo
    display block
    margin 0px auto
    padding-top 24px
    width 60%
  .user
    color #ffff !important
    padding 16px
    a
      color #fff
      font-size 1.2em

  .main
    ul
      li
        margin-top 9px
        margin-left 9px
        a 
          color #8998AC
          display block
          font-size 1.1em
          text-decoration none
          i
            margin-right 6px
          &:hover
            background #2caaff
            color #fff



